@import url('./normalize.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --background:#232323;
    --text:white;
    --green: #BDC100;
}

body{
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 30px;
    margin-left: 90px;
   width: 300px;
}

nav{
    display: flex;
    gap: 50px;
    margin-right: 150px;
    margin-top: 40px;
}

.nav-items{
    font-size: 25px;
    text-decoration: none;
    color: var(--text);
    margin-top: 10px;
    transition: all .2s ease-in-out;
}

.nav-items:hover{
    color: var(--green);
}

.cv{
    font-size: 25px;
    text-decoration: none;
    color: var(--text);
    padding: 8px;
    border: 2px solid var(--green);
    transition: all .3s ease-in-out;
}

.cv:hover{
    background-color: #BDC100;
    scale: 1.1;
    box-shadow: 0px 0px 2px 2px  #d8db01 ;
}

.fist-container{
    display: flex;
}

.me-container{
    margin-top: 20vh;
    width: 60%;
    padding-left: 190px;
}

.picture-container{
    width: 40%;
    margin-left: 300px;
    padding-right: 100px;
}

h1{
    font-size: 60px;
    color: var(--text);
    margin-bottom: 15px;
}

.icon{
    color: var(--green);
    font-size:xx-large;
    margin-right: 35px;
}

.rol{
    margin-top: 25px;
    color: var(--green);
    text-shadow: 0.5px 0.5px 1px rgb(208, 255, 174);
    font-size: 35px;
}

.me{
    color:rgb(148, 148, 148);
    font-size: 20px;
}

.me-pic{
    margin-top: 25vh;
    width:320px;
    border-radius: 100%;
    border: #BDC100 2px solid;
}
/* -----------------MY SKILLS------------------------------------------------ */

.skills-title{
    margin-top: 31vh;
    color: var(--text);
    font-size: 40px;
    text-align: center;
}

/*------------------CARROUSEL------------------*/

.big-cont{
    display: flex;
}

h4{
    margin: 0px;
    padding: 0px;
}

.carousel{
    width: 100%;
    margin: 0px 0px;
}

@media(min-width:768px){
    .carousel{
        margin: 0px 60px;
    }
}

.carrousel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0 auto;
    max-width: 90vw;
    overflow: hidden;
}

.carrousel-track{
    position: relative
    top 0;
    left: 0;
    display: flex;
    justify-content: center;
    transform: .5 ease-in-out;
}

.carrousel{
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrousel h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: var(--text);
    padding: 15px;
}

.carrousel img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}

@media (min-width: 768px){
    .carrousel{
        width: 275px;
    }
    .carrousel img{
        width: 180px;
    }
}

.carrusel-arrow{
    border-radius: 30px;
    background-color: var(--text);
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
}

.carrusel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,0.7);
}

.carruserl-prev{
    left: 0px;
}

.carrusel-next{
    right: 0px;
}


@media(max-width:1235px){

    .picture-container{
        width: 25%;
        margin-left: 180px;
        
    }

    .me-container{
        width: 75%;
        padding-left: 140px;
    }

    h1{
        width: 100%;
    }
    
    nav{
        margin-right: 100px;
    }

}




@media(max-width:1100px){
    
    nav{
        margin-right: 50px;
    }

    .logo{
        margin-left: 50px;
    }

    .picture-container{
        width: 20%;
        margin-left: 130px;
    }
    
    .me-pic{
        width: 200px;
        margin-top: 18vh;
    }
/* ------------------------------------------------ */
    .me-container{
        width: 80%;
        padding-left: 100px;
        margin-top: 15vh;
    }

    h1{
        width: 100%;
        font-size: 40px;
    }

    .icon{
        font-size: 35px;
        margin-right: 10px;
    }


    .rol{
        font-size: 30px;
        margin-top: 10px;
    }
}




@media(max-width:1000px){
    nav{
        margin-right: 20px;
    }

    .logo{
        margin-left: 20px;
        width: 220px;
    }

    .me-pic{
        margin-top: 250px;
    }
}



@media(max-width:910px){
    .me-container{
        width: 80%;
        padding-left: 70px;
    }

    /* ------------------------------------ */

    .picture-container{
        width: 20%;
        margin-left: 90px;
    }
}




@media(max-width:862px){

    header{
        display: flex;
        justify-content: center;
    }

    nav{
        margin-right: 0px;
    }

    .logo{
        margin-left: 0px;
        width: 0px;
        visibility: hidden;
    }

    .me-pic{
        margin-top: 260px;
    }
}

@media(max-width:800px){
    .me-container{
        width: 90%;
        padding-left: 50px;
        margin-top: 120px;
    }

    h1{
        width: 100%;
        font-size: 33px;
    }

    .icon{
        font-size: 27px;
        margin-right: 10px;
    }


    .rol{
        font-size: 27px;
        margin-top: 10px;
    }
}