@import url('./normalize.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --background:#232323;
    --text:white;
    --green: #BDC100;
}

body{
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 30px;
    margin-left: 90px;
   width: 300px;
}

nav{
    display: flex;
    gap: 50px;
    margin-right: 150px;
    margin-top: 40px;
}

.nav-items{
    font-size: 25px;
    text-decoration: none;
    color: var(--text);
    margin-top: 10px;
    transition: all .2s ease-in-out;
}

.nav-items:hover{
    color: var(--green);
}

.cv{
    font-size: 25px;
    text-decoration: none;
    color: var(--text);
    padding: 8px;
    border: 2px solid var(--green);
    transition: all .3s ease-in-out;
}

.cv:hover{
    background-color: #BDC100;
    scale: 1.1;
}

.fist-container{
    display: flex;
}

.me-container{
    margin-top: 240px;
    width: 60%;
    padding-left: 190px;
}

.picture-container{
    width: 40%;
    margin-left: 300px;
}

h1{
    font-size: 60px;
    color: var(--text);
    margin-bottom: 15px;
}

.icon{
    color: var(--green);
    font-size:xx-large;
    margin-right: 35px;
}

.rol{
    margin-top: 25px;
    color: var(--green);
    text-shadow: 0.5px 0.5px 1px rgb(208, 255, 174);
    font-size: 35px;
}

.me{
    color:rgb(148, 148, 148);
    font-size: 20px;
}

.me-pic{
    margin-top: 280px;
    width:320px;
    border-radius: 100%;
    border: #BDC100 2px solid;
}